*{
    margin: 0px;
    padding: 0px;
}
#boxXY{
    height: 475px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(176, 236, 216);
}

.XYboxes{
    height: 55%;
    width: 25%;
    background-color: rgba(255, 194, 209);
    border: 5px rgb(251, 111, 146) solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#xbox,#ybox{
    height: 35%;
    width: 80%;
    border: 0px rgb(255, 143, 171) solid;
    border-radius: 25px;
    border-top: 5px solid;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    padding-left: 5px;
    font-weight: lighter;
    font-size:37px;
    color: rgb(72, 20, 33);
}

#score{
    height: fit-content;
    width: fit-content;
    font-weight: bolder;
    font-size:45px;
    color: rgb(65, 29, 38);
}


#Square{
    height: 475px;
    width: 475px;
    background-color: rgb(247, 37, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
body{
    background-color: rgba(176, 236, 216);
}

.box{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 180, 216);
    border: 3px rgb(67, 97, 238) solid;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13vmin;
    
}
#col1, #col2, #col3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.change{
    background-color: rgb(76, 201, 240);
}

#Header{
    font-size: 15vmin;
    margin-bottom: 7px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(77, 131, 131);
}

.restart{
    height: 50px;
    width: 100px;
    background-color: rgb(250, 237, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(212, 163, 115) solid;
    border-radius: 10px;
    margin-top: 14px;
    font-weight: bolder;
}

.restrat-clicked{
    height: 50px;
    width: 100px;
    background-color: rgb(204, 213, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(212, 163, 115) solid;
    border-radius: 10px;
    margin-top: 14px;
    font-weight: bolder;
}
/* /////////////// */
.win-highlight{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 213, 255);
    border: 3px rgb(67, 97, 238) solid;
    border-radius: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13vmin;
    color: rgb(0, 0, 79);
}


